
body{
    margin-top: 50px;
}

/*gridview*/
.table table  tbody  tr  td a ,
.table table  tbody  tr  td  span {
position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #337ab7;
text-decoration: none;
background-color: #fff;
border: 1px solid #ddd;
}

.navbar-default {
    box-shadow: 0 1px 3px 1px #808080;
}

.pnl-shadow {
    -webkit-box-shadow: 0 1px 5px -1px #808080;
    -moz-box-shadow: 0 1px 5px -1px #808080;
    box-shadow: 0 1px 5px -1px #808080;
}

.table table > tbody > tr > td > span {
z-index: 3;
color: #fff;
cursor: default;
background-color: #337ab7;
border-color: #337ab7;
}

.table table > tbody > tr > td:first-child > a,
.table table > tbody > tr > td:first-child > span {
margin-left: 0;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.table table > tbody > tr > td:last-child > a,
.table table > tbody > tr > td:last-child > span {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}

.table table > tbody > tr > td > a:hover,
.table   table > tbody > tr > td > span:hover,
.table table > tbody > tr > td > a:focus,
.table table > tbody > tr > td > span:focus {
z-index: 2;
color: #23527c;
background-color: #eee;
border-color: #ddd;
}
/*end gridview */

/* navbar 
.navbar-default {
    background-color: #2980b9;
    border-color: #2980b9;
}*/
/* title
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #136ca7;
} */
/* link 
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #136ca7;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ecf0f1;
    background-color: #136ca7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ecf0f1;
    background-color: #136ca7;
}*/

/* caret 
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #136ca7;
    border-bottom-color: #136ca7;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #136ca7;
    border-bottom-color: #136ca7;
*/

/* mobile version 
.navbar-default .navbar-toggle {
    border-color: #ecf0f1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ecf0f1;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #136ca7;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #136ca7;
    }
}*/

/*
html,
      body {
        height: 100%;
         The html and body elements cannot have any padding or margin. 
      }*/

      /* Wrapper for page content to push down footer 
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;*/
        /* Negative indent footer by it's height 
        margin: 0 auto -60px;
      }*/

      /* Set the fixed height of the footer here 
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }*/

      /* Lastly, apply responsive CSS fixes as necessary 
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }*/

    
/*.spinner {
  width: 40px;
  height: 40px;
  background-color: #FFF;
	position: absolute;
	top: 48%;
	left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(65,65,65,0.9);
z-index: 999999;
}*/

/*Start Notification CSS*/
.toast-container{width:280px;z-index:9999;}
* html .toast-container{position:absolute;}
.toast-item{height:auto;background:#0C4F9E;opacity:.9;-moz-border-radius:10px;-webkit-border-radius:10px;color:#eee;padding-top:20px;padding-bottom:20px;padding-left:6px;padding-right:6px;font-family:Arial;font-size:13px;border:2px solid #999;display:block;position:relative;margin:0 0 12px 0;}
.toast-item p{text-align:left;margin-left:50px; color: White;}
.toast-item-close{background:url(../../images/close.gif);width:22px;height:22px;position:absolute;top:7px;right:7px;}
.toast-item-image{width:32px;height:32px;margin-left:10px;margin-top:10px;margin-right:10px;float:left;}
.toast-item-image-notice{background:url(../images/notice.png);}
.toast-item-image-success{background:url(../../images/success.png);}
.toast-item-image-warning{background:url(../images/twarning.png);}
.toast-item-image-error{background:url(../images/terror.png);}
.toast-type-notice{color:white;}
.toast-type-success{color:white;}
.toast-type-warning{color:white;border-color:#FCBD57;}
.toast-type-error{color:white;border-color:#B32B2B;}
.toast-position-top-left{position:fixed;left:20px;top:20px;}
.toast-position-top-center{position:fixed;top:20px;left:50%;margin-left:-140px;}
.toast-position-top-right{position:fixed;top:20px;right:20px;}
.toast-position-middle-left{position:fixed;left:20px;top:50%;margin-top:-40px;}
.toast-position-middle-center{position:fixed;left:50%;margin-left:-140px;margin-top:-40px;top:50%;}
.toast-position-middle-right{position:fixed;right:20px;margin-left:-140px;margin-top:-40px;top:50%;}
/*End Notification CSS*/