/*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #FFF;
	border: 1px solid rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.2);
}
    ::-webkit-scrollbar-thumb:hover {
	    background-color: rgba(0,0,0,.4);
    }
    ::-webkit-scrollbar-thumb:active {
	    background-color: rgba(0,0,0,.5);
    }
::-webkit-scrollbar-button { display:none; }*/

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  height: 10px;
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
 
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
  min-width: 10px;
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}